# Ejercicios Semana 8

Para ejercitar Pandas

## Ejercicio 1:
Leer el archivo de datos llamado [estaciones_metereologicas.csv](https://drive.google.com/file/d/1l7H9hdYAzsnXONbmsP2sKb2GRDel80eo/view?usp=share_link) como un un dataframe de Pandas. A partir de este vamos a:

1. Mostrar las primeras filas del dataframe.
2. Mostrar el número total de filas y columnas.
3. Calcular la media, desviación estándar, valor mínimo y valor máximo de la columna `'altura'`.

In [1]:
# Conectar Drive a Colab
from google.colab import drive
import os
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
#os.chdir('/content/drive/MyDrive/Argentina-programa')
os.chdir('/content/drive/MyDrive/Colab Notebooks/Data/')

In [8]:
import pandas as pd

# Leer el archivo csv y cargarlo en un dataframe
df = pd.read_csv("estaciones_metereologicas.csv")

# Mostrar las primeras filas del dataframe
df.head()

# Mostrar el número total de filas y columnas
print("Número de filas: ", len(df))
print("Número de columnas: ", len(df.columns))

# Calcular la media, desviación estándar, valor mínimo y valor máximo de la columna 'ALTURA'
altura_mean = df['ALTURA'].mean()
altura_std = df['ALTURA'].std()
altura_min = df['ALTURA'].min()
altura_max = df['ALTURA'].max()

print("Media de la altura: ", altura_mean)
print("Desviación estándar de la altura: ", altura_std)
print("Valor mínimo de la altura: ", altura_min)
print("Valor máximo de la altura: ", altura_max)

Número de filas:  123
Número de columnas:  9
Media de la altura:  331.5121951219512
Desviación estándar de la altura:  456.738856510787
Valor mínimo de la altura:  5
Valor máximo de la altura:  3459

## Ejercicio 2:
Dados las siguientes estructuras:  

```
mi_lista = list('abcdefghijklmnopqrstuvwxyz')

mi_array = np.arange(26)

mi_diccionario = dict(zip(mi_lista,mi_array))
```

1. Crear una serie pandas para cada una de ellas, llamadas serLis, serArr y serDic.
2. Convertir la serie 'serDic' en un dataframe con su índice como otra columna en el dataframe.
3. Combine 'serLis' y 'serArr' para formar un dataframe. 
4. Exporte el dataframe creado en el punto anterior a un archivo "serDic.csv" que quede grabado en la ruta: /content/drive/MyDrive/Colab Notebooks/Data/ (o en alguna equivalente si está trabajando en su propia computadora).

In [ ]:
import pandas as pd
import numpy as np

mi_lista = list('abcdefghijklmnopqrstuvwxyz')
# Convierte la lista en una serie de pandas
serLis = pd.Series(mi_lista)

mi_array = np.arange(26)
# Convierte la lista en una serie de pandas
serArr = pd.Series(mi_array)

mi_diccionario = dict(zip(mi_lista, mi_array))
# Convierte la lista en una serie de pandas
serDic = pd.Series(mi_diccionario)

# Crea un dataframe a partir de la serie serDic, con el indice como una columna del dataframe
dfSerDic = pd.DataFrame({'letra': serDic.index, 'valor': serDic.values})

# Crea un dataframe a partir de las series serLis y serArr
df = pd.DataFrame({'letra': serLis, 'valor': serArr})

# Exporto el dataframe
df.to_csv('/content/drive/MyDrive/Colab Notebooks/Data/serDic.csv', index=False)

## Ejercicio 3:

Un conjunto de datos (*dataset*) muy usado para ejercitar `Pandas` es el archivo [titanic.csv](https://drive.google.com/file/d/1edbySvT2KUDelJq85csEA6zxiOJ7TvXH/view?usp=share_link), que contiene información sobre los pasajeros del Titanic, con la descripción de las variables que se puede encontrar [aquí](https://drive.google.com/file/d/14ytgtHkAqbcpbUyWQZkNvw-ff7tisuXK/view?usp=share_link). 
Para este dataset hacer un programa que:

1. Carge los datos en un DataFrame y explorarlos
2. Muestre en pantalla las dimensiones, el número de datos que contiene y que muestre los tipos de datos de cada columna. 
3. Muestre en pantalla los datos del pasajero con identificador 148.
4. Encuentre los nombres de las personas que iban en primera clase y los muestre ordenados alfabéticamente.
5. Elimine del DataFrame los pasajeros/as con edad desconocida.
6. Determine la edad media de las mujeres que viajaban en la clase 1.
7. Haga un histograma de la distribución de edades de los sobrevivientes sin distinguir el genero.

In [9]:
df = pd.read_csv("titanic.csv")

# Muestra informacion del DataFrame
df.info()
# Muestra las dimensiones, el número de datos 
print("Dimensiones del DataFrame:", df.shape)
print("Número total de datos:", df.size)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IdPasajero     891 non-null    int64
 1   Sobrevivencia  891 non-null    int64
 2   Clase          891 non-null    int64
 3   Nombre         891 non-null    object
 4   Genero         891 non-null    object
 5   Edad           714 non-null    float64
 6   HerFam         891 non-null    int64
 7   PadHi          891 non-null    int64
 8   Ticket         891 non-null    object
 9   Costo          891 non-null    float64
 10  Cabina         204 non-null    object
 11  Embarque       889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
Dimensiones del DataFrame: (891, 12)
Número total de datos: 10692

In [10]:
# Muestra los datos del pasajero con identificador 148:
print("Datos del pasajero con identificador 148:\n", df[df["IdPasajero"]==148])

# Otra forma:
df[df["IdPasajero"]==148]

Datos del pasajero con identificador 148:
      IdPasajero  Sobrevivencia  Clase                            Nombre  \
147         148              0      3  Ford, Miss. Robina Maggie "Ruby"

     Genero  Edad  HerFam  PadHi      Ticket   Costo Cabina Embarque
147  female   9.0       2      2  W./C. 6608  34.375    NaN        S

,IdPasajero,Sobrevivencia,Clase,Nombre,Genero,Edad,HerFam,PadHi,Ticket,Costo,Cabina,Embarque
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.0,2,2,W./C. 6608,34.375,NaN,S

In [11]:
# Encuentra los nombres de las personas que iban en primera clase y los muestra ordenados alfabéticamente
primera_clase = df[df['Clase'] == 1] #Filtro los datos apra quedarme con los pasajeros que estan el primera clase
nombres = primera_clase['Nombre'].sort_values() #Ordenados alfabéticamente

print("Nombres de las personas que iban en primera clase:\n", nombres)

Nombres de las personas que iban en primera clase:
 730                      Allen, Miss. Elisabeth Walton
305                     Allison, Master. Hudson Trevor
297                       Allison, Miss. Helen Loraine
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
460                                Anderson, Mr. Harry
                            ...
155                        Williams, Mr. Charles Duane
351             Williams-Lambert, Mr. Fletcher Fellows
55                                   Woolner, Mr. Hugh
555                                 Wright, Mr. George
325                           Young, Miss. Marie Grice
Name: Nombre, Length: 216, dtype: object

In [ ]:
# Elimina del DataFrame los pasajeros/as con edad desconocida
# El metodo .notna() busca los valores que no son nulos (not-null) en un Dataframe o Serie de pandas y devuelve un booleano con True (si no es nulo) o False (si es nulo).
df = df[df['Edad'].notna()]

In [ ]:
# Determina la edad media de las mujeres que viajaban en la clase 1

mujeres_primera_clase = df[(df['Genero'] == 'female') & (df['Clase'] == 1)]

edad_media =mujeres_primera_clase['Edad'].mean()
print("Edad media de las mujeres que viajaban en primera clase:", edad_media)

In [ ]:
# Hace un histograma de la distribución de edades de los sobrevivientes sin distinguir el género
sobrevivientes = df[df['Sobrevivencia'] == 1]
sobrevivientes['Edad'].plot.hist(bins=20)

## Ejercicio 4:

Vamos a trabajar con un nuevo dataset, el del archivo [`"Spotify 2010 - 2019 Top 100.csv"`](https://drive.google.com/file/d/18qHLJXvP16kmCfS6ZScAZnBxy1eAs63r/view?usp=sharing), extraído de [aquí](https://www.kaggle.com/datasets/muhmores/spotify-top-100-songs-of-20152019), que contiene información de las canciones más escuchadas cada año en la plataforma de streaming Spotify.


1. Explorar el dataset (mirar cuántos líneas hay, qué campos tiene, de que tipo son, etc.)
2. Mostrar los 10 artistas con más canciones a lo largo de todos los años y los 10 géneros más frecuentes.
3. Buscar cuáles son las canciones con tempos (*bpm*, pulsaciones por minuto) más elevados.
(Sugerencia: investigar en la documentación de pandas sobre el método `sort_values()`)
4. Crear un nuevo DataFrame con los datos de ritmo (bpm) y duración (dur) promedio para cada año. (Sugerencia: es simple de hacerlo con el método `groupby()`)
5. A partir del DataFrame del inciso anterior, haga gráficos de la evolución de la duración y el ritmo promedio a lo largo de los años.
6. (Opcional) Investigue cómo hacer gráficos de torta en pandas y haga uno que muestre la proporción de los distintos tipos de artista ('artist type') de todo el dataset.

In [ ]:
# 1) Leer el archivo csv y cargarlo en un dataframe
df_mus = pd.read_csv('Spotify 2010 - 2019 Top 100.csv')

In [ ]:
df_mus.head(10) #muestro las primeras 10 filas

In [ ]:
df_mus.info() #Muestro informacion del dataset
# Mostrar el número total de filas y columnas
print("Número de filas: ", len(df_mus))
print("Número de columnas: ", len(df_mus.columns))

In [ ]:
# 2)
print(df_mus["artist"].value_counts()[0:10]) #Muestro la cantidad de veces que aparece cada artista y me quedo con los primeros 10

In [ ]:
print(df_mus['top genre'].value_counts()[0:10]) #Muestro la cantidad de veces que aparece cada genero musical y me quedo con los primeros 10

In [ ]:
# 3)Buscar cuáles son las canciones con tempos (*bpm*, pulsaciones por minuto) más elevados.
df_mus.sort_values(by='bpm', ascending=False)

In [ ]:
# 4)Crear un nuevo DataFrame con los datos de ritmo (bpm) y duración (dur) promedio para cada año. 
a = df_mus.groupby('top year').mean() #con .grupby() agrupo el dataset por año ([columna "top year"]) y luego calculo el valor medio de cada grupo.
df = pd.DataFrame({'bpm': a["bpm"], 'dur': a["dur"]}) #creo el dataset con las dos columnas: bpm y dur

In [ ]:
# 5)gráficos de la evolución de la duración y el ritmo promedio a lo largo de los años
a.plot.line(y='bpm')
a.plot.line(y='dur')

In [ ]:
# 6)Grafico de torta para la proporción de los distintos tipos de artista ('artist type') de todo el dataset.
df_mus['artist type'].value_counts().plot.pie(autopct='%1.0f%%')

## Ejercicio 5:

Esta vez vamos a trabajar con los datos de los casos confirmados de Covid en la provincia de Santa Fe, que están en el archivo [`'casos_covid_confirmados_santafe.csv'`](https://drive.google.com/file/d/1DvshOSsVU34KdhCe1k85wyi-KVI9g6QS/view?usp=sharing). Los mismos fueron obtenidos reduciendo el dataset oficial de los casos de covid en todo el país. *(Advertencia: el archivo pesa unos 85 MB)*

1. Cargue los contenidos del csv en un DataFrame de Pandas y explore el dataset. En particular, pedimos reportar cuántos registros contiene y qué columnas tiene. ¿Cuáles son todos los valores posibles de la columna `"clasificacion"`?
2. Calcular cuánta gente de Santa Fe falleció por covid. ¿Qué porcentaje de los casos totales terminaron en muertes (o sea, cuál es la mortalidad)?
3. Calcule cuántos casos y muertes hubo en cada departamento de la provincia de Santa Fe.
4. Haga un histograma de edades de los casos confirmados. Ojo, hay que descartar primero los que tienen la edad contada en meses (mire la columna `"edad_años_meses"`). Haga también un segundo histograma de edades solo de los fallecidos. *(Sí, en el dataset hay alguien que figura que tiene 222 años... esos errores pasan. Se puede intentar filtrar esos casos para que no molesten en el histograma.)*
5. Haga el gráfico de casos diarios de covid. Para eso utilizá la columna `"fecha_apertura"`.

In [ ]:
# 1)Cargo el dataset
import pandas as pd

df_covid = pd.read_csv('casos_covid_confirmados_santafe.csv')
df_covid.head()

In [ ]:
# Mostrar el número total de filas y columnas
print("Número de filas: ", len(df_covid ))
print("Número de columnas: ", len(df_covid .columns))

In [ ]:
# Mostrar que valores toma la columna "clasificacion"
print(df_covid.clasificacion.unique())

In [ ]:
# 2)Calcular cuánta gente de Santa Fe falleció por covid.
fallecidos = df_covid.fallecido.value_counts() #Valores de la columna fallecidos
print(fallecidos)

100*fallecidos.loc['SI']/(fallecidos.loc['SI']+fallecidos.loc['NO']) #porcentaje que terminaron en muertes.

In [ ]:
# 3)Calcule cuántos casos y muertes hubo en cada departamento de la provincia de Santa Fe.
df_departamento=df_covid.groupby("residencia_departamento_nombre")["fallecido"] #agrupo por departamento y me quedo con la columna "fallecido"
df_departamento.value_counts() #muestro el conteo de valores de fallecidos

In [ ]:
# d)
# todos los confirmados
df_covid[(df_covid.edad_años_meses=='Años') & (df_covid.edad<101)].hist(column="edad", bins=20)

# solo fallecidos
df_covid[(df_covid.edad_años_meses=='Años') & (df_covid.edad<101) & (df_covid.fallecido=='SI')].hist(column="edad", bins=20)

In [ ]:
# 5) gráfico de casos diarios de covid
df_covid['fecha_apertura'] = pd.to_datetime(df_covid['fecha_apertura'], format= '%Y-%m-%d')
df_covid_fechas = df_covid['fecha_apertura'].value_counts().sort_index()
#df_covid.plot.hist(columns="fecha_apertura")
df_covid_fechas.plot.line(figsize=(18,8), grid=True)